// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  width: 75vw;
  margin: 30px auto;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.letter {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(5, 5, 5, 0.2);

  h2 {
    width: 23px;
    margin: 0;
  }
}

.text-center {
  text-align: center;
}
